.form-control-sm {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

html {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-control-sm {
  width: 100%;
  border: 1px solid #ddd;
  margin-bottom: 10px;
}

.messages {
  width: 100%;
  height: 75%;
  margin: 20px 0;
  border: 1px solid #ddd;
  padding: 20px;
  overflow: auto;
}