:root {
  --chat-width: 600px;
}

html,
body {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#chat {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

input {
  width: var(--chat-width);
  border: 1px solid #ddd;
  height: 50px;
  padding: 0 20px;
  font-size: 14px;
}

button {
  width: var(--chat-width);
  height: 50px;
  font-size: 14px;
  background: #069;
  text-align: center;
  line-height: 50px;
  font-weight: bold;
  color: #fff;
  margin-top: 10px;
  border-radius: 15px;
  outline: none;
}

.messages {
  width: var(--chat-width);
  height: 400px;
  margin: 20px 0;
  border: 1px solid #ddd;
  padding: 20px;
  overflow: auto;
}

/* responsive styling for mobile devices */
@media (max-width: 600px) {
  /* making the chat form display block */
  #chat {
    display: block;
  }

  /* setting the width and margin of username input box */
  #username {
    width: 360px;
    margin-top: 10px;
    margin-left: 40px;
  }

  /* styling for messages div */
  #messages {
    width: 360px;
    margin-top: 10px;
    margin-left: 40px;
  }

  /* styling for the message_content */
  #message_content {
    width: 360px;
    margin-top: 10px;
    margin-left: 40px;
  }

  /* styling for the button */
  button {
    width: 70px;
    height: 50px;
    margin-left: 160px;
  }
}
