:root {
  --chat-width: 600px;
}

.form-control-sm {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

input {
  width: var(--chat-width);
  border: 1px solid #ddd;
  height: 50px;
  padding: 0 20px;
  font-size: 14px;
}

button {
  width: var(--chat-width);
  height: 50px;
  font-size: 14px;
  background: #069;
  text-align: center;
  line-height: 50px;
  font-weight: bold;
  color: #fff;
  margin-top: 10px;
  border-radius: 15px;
  outline: none;
}

.messages {
  width: var(--chat-width);
  height: 400px;
  margin: 20px 0;
  border: 1px solid #ddd;
  padding: 20px;
  overflow: auto;
}

.form-control-sm {
  margin-bottom: 10px;
}